:root {
  /* from coolers: https://coolors.co/dcedff-94b0da-8f91a2-505a5b-343f3e */
  --alice-blue: #dcedff;
  --wild-blue-yonder: #94b0da;
  --manatee: #8f91a2;
  --davys-grey: #505a5b;
  --outer-space-crayola: #343f3e;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  background: var(--davys-grey);
}

a {
  background: none;
}

.link {
  text-decoration: underline;
  color: var(--alice-blue);
}

p {
  font-size: 18px;
  color: var(--alice-blue);
  font-weight: bold;
  background-color: var(--davys-grey);
  text-align: center;
}

.name {
  margin: auto 30px;
  padding: 10px;
  color: var(--alice-blue);
  font-weight: bold;
  text-align: center;
}

/* #header {
  display: flex;
  margin-left: 5px;
} */

/* #navigation {
  align-items: flex-end;
  font-size: 22px;
  text-decoration: none;
  align-content: center;
} */

/* #navigation a {
  color: var(--alice-blue);
  padding-left: 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--davys-grey);
} */

/* .card {
  background-color: var(--wild-blue-yonder);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--davys-grey), 0 6px 12px var(--davys-grey);
} */

/* .card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--wild-blue-yonder);
} */

/* .card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--wild-blue-yonder);
} */

/* .card .content {
  font-size: 18px;
  background-color: var(--wild-blue-yonder);
  color: var(--alice-blue);
  font-weight: bold;
  text-align: center;
} */

/* #project-icon {
  background-color: var(--wild-blue-yonder);
  padding: 5px;
} */

/* #topics {
  font-size: small;
  font-style: italic;
  color: var(--davys-grey);
} */

/* #card-title {
  margin-top: 10px;
  color: var(--outer-space-crayola);
  text-shadow: 1px 1px 6px var(--alice-blue);
} */

/* .wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
} */

/* #about-section {
  margin: 2em;
} */

/* #about-section p {
  background-color: var(--manatee);
  color: var(--davys-grey);
} */

/* #contact-section {
  justify-content: center;
  margin: 20px;
  margin-left: 10em;
  margin-right: 10em;
} */

/* #front-back ul {
  list-style-type: none;
} */

/* #front-back ul li {
  list-style-type: none;
} */

/* #front-back h2 {
  color: var(--davys-grey);
} */

/* #front-back p {
  background-color: var(--manatee);
} */

/* #resume p {
  background-color: var(--manatee);
  color: var(--davys-grey);
  margin-top: 5px;
} */


/* Footer Styling */

.footer {
  padding: 5px;
  margin-top: 10px;
  position: absolute;
  display: block;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--outer-space-crayola);
}

.icon {
  padding: 30px;
  display: inline-block;
  background-color: var(--outer-space-crayola);
}

#footer p {
  background-color: var(--outer-space-crayola);
}

#footer a {
  text-decoration: none;
  color: var(--alice-blue);
}

#react-icon {
  background-color: var(--outer-space-crayola);
}